@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --cor-primaria-1:#28965A;
    --cor-primaria-2:#7CFEF0;
    --cor-primaria-3:#2A6041;
    --cor-primaria-4:#61c29e;
    --cor-primaria-5:#2CEAA3;
    
    --COR-SECUNDARIA-1:#fff;
    --COR-SECUNDARIA-2:#28965A;

}